@model PetShop.Areas.Admin.AdminModels.LoginViewModel

@{ Layout = null; }

<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>Log in</title>
    <meta content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no" name="viewport">
    <link href="~/Assets/Admin_Layout/bootstrap/dist/css/bootstrap.min.css" rel="stylesheet" />
    <link href="~/Assets/Admin_Layout/font-awesome/css/font-awesome.min.css" rel="stylesheet" />
    <link href="~/Assets/Admin_Layout/css/AdminLTE.min.css" rel="stylesheet" />

    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Source+Sans+Pro:300,400,600,700,300italic,400italic,600italic">
</head>
<body class="hold-transition login-page">
    <div class="login-box">
        <div class="login-logo">
            <b>HUTECH</b>-STORE
        </div>
        @using (Html.BeginForm("Index", "Login", FormMethod.Post))
        {
                @Html.ValidationSummary(true, "", new { @class = "text-danger" })
               <div class="text-danger mt-5 row px-2">
                    <div class="col-sm-12 text-center">
                        @ViewData["IncorrectAdmin"]
                    </div>

                </div>
            <div class="login-box-body">
            <br />
            <form>
                <div class="form-group has-feedback">
                    @Html.TextBoxFor(model => model.Username, new { @class = "form-control",placeholder = "Tài khoản", required = "required" })
                    @Html.ValidationMessageFor(model => model.Username, "", new { @class = "text-danger" })
                    <span class="glyphicon glyphicon-user form-control-feedback"></span>
                </div>
                <div class="form-group has-feedback">
                    @Html.TextBoxFor(model => model.Password, new { @class = "form-control", placeholder = "Mật khẩu", required = "required", type = "password" })
                    @Html.ValidationMessageFor(model => model.Password, "", new { @class = "text-danger" })
                    <span class="glyphicon glyphicon-lock form-control-feedback"></span>
                </div>
                <div class="row">
                    <div class="col-xs-8">
                    </div>
                    <div class="col-xs-4">
                        <button type="submit" class="btn btn-primary btn-block btn-flat" id="btnLogin">Đăng nhập</button>
                    </div>
                </div>
            </form>
            </div>
               }
    </div>
    <script src="~/Assets/Admin_Layout/jquery/dist/jquery.min.js"></script>
</body>
</html>


    @*<div class="form-group has-feedback">
        @Html.TextBoxFor(model => model.TaiKhoan, new { @class = "form-control", placeholder = "Tài khoản", required = "required" })
        <span class="glyphicon glyphicon-user form-control-feedback"></span>
    </div>
    <div class="form-group has-feedback">
        @Html.PasswordFor(model => model.MatKhau, new { @class = "form-control", placeholder = "Mật khẩu", required = "required", type = "password" })
        <span class="glyphicon glyphicon-lock form-control-feedback"></span>
    </div>
    <div class="row">
        <div class="col-xs-8">
        </div>
        <div class="col-xs-4">
            <button type="submit" class="btn btn-primary btn-block btn-flat" id="btnLogin">Đăng nhập</button>
        </div>
    </div>*@
<!--<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Index</title>-->
<!-- Bootstrap -->
<!--<link rel="stylesheet" href="~/Assets/Admin/bootstrap/css/bootstrap.min.css">-->
<!-- Font Awesome -->
<!--<link rel="stylesheet" href="~/Assets/Admin/fontawesome/css/all.min.css">-->
<!-- Main css -->
<!--<link rel="stylesheet" href="~/Assets/Admin/css/style.css">
<link href="~/Content/PagedList.css" rel="stylesheet" />-->
<!-- google fonts -->
<!--<link href="https://fonts.googleapis.com/css2?family=Chewy&family=Open+Sans&family=Pacifico&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Patrick+Hand&display=swap" rel="stylesheet">


    <script src="~/Scripts/jquery-3.4.1.min.js"></script>

    <style>
        body {
            font-family: 'Patrick Hand', cursive;
        }
    </style>
</head>
<body>

    <div class="container-fluid">
        <div class="row justify-content-center mt-5">
            <div class="col-sm-4 rounded-bottom border-bottom border-white pb-3">
                <h1 class="text-center border pb-2 border-white">Quản lý Pet Shop</h1>
                @using (Html.BeginForm("Index", "Login", FormMethod.Post))
                {
                    @Html.ValidationSummary(true, "", new { @class = "text-danger" })
                    <div class="text-danger mt-5 row px-2">
                        <div class="col-sm-12 text-center">
                            @ViewData["IncorrectAdmin"]
                        </div>

                    </div>
                    <div class="form-group row px-2 ">
                        <label for="exampleInputEmail1">Tài khoản</label>
                        @Html.TextBoxFor(model => model.Username, new { @class = "form-control" })
                        @Html.ValidationMessageFor(model => model.Username, "", new { @class = "text-danger" })
                    </div>
                    <div class="form-group row px-2">
                        <label for="exampleInputPassword1">Mật khẩu</label>
                        @Html.TextBoxFor(model => model.Password, new { @class = "form-control", @type = "Password" })
                        @Html.ValidationMessageFor(model => model.Password, "", new { @class = "text-danger" })
                    </div>
                    <div class="row px-2">
                        <button class="btn btn-success col-sm-12" id="btn-login" onclick="Login()">Đăng nhập</button>
                    </div>
                }
            </div>
        </div>
    </div>


    <script src="~/Scripts/jquery.unobtrusive-ajax.min.js"></script>-->
<!-- Main js -->
<!--<script src="~/Assets/Admin/js/script.js"></script>-->
<!-- bs js -->
<!--<script src="~/Assets/Admin/bootstrap/js/bootstrap.min.js"></script>-->
<!-- validation -->
<!--<script src="~/Scripts/jquery.validate.min.js"></script>
    <script src="~/Scripts/jquery.validate.unobtrusive.js"></script>
</body>
</html>-->
